.dropdown-menu {
    padding: 10px 20px;

}

/* .user-menu {
    display: flex;
    align-items: center;
    width: 64px;
} */

.user-menu__avatar {
    border-radius: 50%; 
    background-color: white; 
}

.user-menu__arrow {
    
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu__login {
    position: relative;
    width: 134px;
    /* transform: translateX(-50%); */
    gap: 0px;
    border-radius: 5px;
    background-color: #FFFFFF;
    z-index: 10;
}

.user-menu__login-LoginSigns {
    position: absolute;
}