.user {
    display: flex;
    justify-content: space-between;
    background-color: #0067A3;
}

.user-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 32.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 20px;
}


