body {
    font-family: 'Roboto', sans-serif;
}

.task-list {
    width: 282px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    background-color: #EBECF0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    border-radius: 8px;

    height: 650px; /* Задаем фиксированную высоту колонки */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    scrollbar-width: thin;
}



.task-list__title {
    text-align: left;
    color: #000000;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: capitalize;
}

.task-list__text {
    width: 100%;
    max-width: 258px; 
    border-radius: 5px;
    align-self: center;
}

.task-list__text-details {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin: 20px 0;
    text-align: left;
}

.task-list__button {
    text-align: left;
    align-self: center;
}

.task-list__button-input {
    display: flex;
    flex-direction: column;
}

.task-list__button-text {
    width: 224px;
    height: 35px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0px 12px;
    margin: 0px 0px 20px 0px;
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
}

.task-list__button-submit { 
    background-color: #0067A3;
    width: 102px;
    height: 29px;
    margin: 0px 0px 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto' sans-serif;

}

.task-list__button-add {
    color:#5E6C84;
    border: none;
    font-size: 18px;
    margin: 0px 0px 8px 8px;
}

.task-list__dropdown {
    display: flex;
}

.task-list__dropdown-select {
    border: none;
    width: 235px;
    height: 35px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0px 12px;
    margin: 0px 0px 20px 0px;
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
}

.task-list__button-add:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

